// ============================
// COLORS
// ============================

$white: #fff;
$black: #000;
$light-gray: #f3f3f3;
$medium-gray: #ccc;

$primary-color: #30a9de;
$secondary-color: #efdc05;
$accent-color: #e53a40;
